*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #434455;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* -------------------- */

/* ----------HEADER---------- */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.header-logo-decor {
  color: #2e2f42;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-navigation-list {
  display: flex;
  gap: 40px;
}
.header-navigation-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-navigation-link:hover,
.header-navigation-link:focus {
  color: #404bbf;
}

.header-adress {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-adress-list {
  display: flex;
  gap: 40px;
}

.header-adress-link {
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-adress-link:hover,
.header-adress-link:focus {
  color: #404bbf;
}

/* -------------------- */

/* ----------HERO---------- */

.hero-container {
  flex-direction: column;
  align-items: center;
}

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  max-width: 496px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* -------------------- */

/* ----------ADVANTAGES--------- */

.advantage {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-list {
  display: flex;
  gap: 24px;
}

.advantage-list-items {
  display: block;
  width: calc((100% - 3 * 24px) / 4);
}

.list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* -------------------- */

/* ----------TEAM--------- */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
  display: block;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  text-align: center;
  background-color: #fff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.list-title {
  margin-bottom: 8px;
}

.team-list-content {
  padding-bottom: 32px;
  padding-top: 32px;
}
/* -------------------- */

/* ----------PORTFOLIO--------- */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-container {
  display: block;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  border: 1px solid #e7e9fc;
  background: #fff;
  border: 1px solid #e7e9fc;
  width: calc((100% - 2 * 24px) / 3);
}

.portfolio-list-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-item img {
  max-width: 100%;
}

/* -------------------- */

/* ----------FOOTER--------- */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: block;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-decor {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/* -------------------- */
